.page-bg {
    background-color: #FFDA79;

}

.blue-bg {
    background-color: #0097E6;
    border: solid 5px #00A8FF;
    border-radius: 20px;

}

.white-bg {
    background-color: #ffffff;
    border: solid 5px #000;
    border-radius: 20px;

}

.red-bg {
    background-color: #C23616;
    border: solid 5px #E84118;
    border-radius: 20px;
}   

.yellow-bg {
    background-color: #F79F1F;
    border: solid 5px #FFC312;
    border-radius: 20px;

}

.green-bg {
    background-color: #009432;
    border: solid 5px #A3CB38;
    border-radius: 20px;

}

.btn {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}

.btn-red {
    background: #B33939;
    border: solid 5px #FF5252;
    border-radius: 20px;

}

.your-score {
    background: #B33939;
    border: solid 5px #FF5252;
    border-radius: 20px;


}
